@import "src/variables";

.comments {
  padding: 0.75em;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 20em;
  border: 0.1em solid $mainColor;

  p {
    margin: 0;

    &.info-name {
      color: #6b6b6b;
    }
  }

  .post-comment {
    form {
      padding: 0.5em 0;
    }

    textarea {
      width: 100%;
    }

    button {
      background-color: $mainColor;
      color: #ffffff;
      border: none;
      padding: 0.5em;
      width: 5em;
      cursor: pointer;
    }


  }
}
