<div class="info-group comments">
  <p class="info-name">Comments:</p>
  <div class="post-comment">
    <form #commentForm="ngForm">
          <textarea
            type="text"
            id="comment"
            name="comment"
            ngModel
          ></textarea>
      <button type="submit" (click)="onPost(commentForm)">Post</button>
    </form>
  </div>
  <app-comment *ngFor="let comment of comments" [comment]="comment"></app-comment>
</div>
