@import "src/variables";

:host {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.container {
  padding: 1em;
  background-color: #ffffff;
  width: 45em;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  position: relative;

  button.close {
    color: $secondaryColor;
    background-color: transparent;
    font-size: 1.5em;
    border: 0 transparent;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
  }
}
