<div class="container" appClickOutside (clickedOutside)="onClose()" >
  <button class="close" (click)="onClose()">
    <fa-icon [icon]="faCircleXMark"></fa-icon>
  </button>
  <ng-content></ng-content>
</div>
