@import "src/variables";

.container {
  position: relative;
  width: 20em;
  height: 12.5em;
  box-shadow: 0 0 10px 0 #1c4369;
  margin: 1.5em 1.5em;
  opacity: 1;

  button.menu {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    font-size: 1em;
    background-color: #ffffff;
    text-align: center;
    padding: 0;
    border: 0 transparent;
    cursor: pointer;
  }

  h2 {
    background-color: $mainColor;
    padding: 0.25em;
    color: #ffffff;
    text-align: center;
    margin: 0;
  }

  .board-info {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 80%;

    .text-container {
      padding: 1em;
      box-sizing: border-box;
      cursor: pointer;
      height: 100%;

      p {
        margin: 0.5em 0 0.5em 0;
      }

      span.bold {
        font-weight: bold;
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 8em;
    top: 0;
    right: -5em;
    box-shadow: 0 0 10px 0 #1c4369;
    z-index: 5;
    background-color: #efefef;

    button {
      color: #000000;
      padding: 0.25em;
      background-color: transparent;
      text-align: start;
      border: 0 transparent;
      cursor: pointer;
      font-size: 1.05em;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

}
