<div class="container">
  <h2>{{board.name}}</h2>
  <button class="menu" (click)="isMenuOpen = !isMenuOpen"><fa-icon [icon]="faGear"></fa-icon></button>
  <div class="board-info">
    <div class="text-container" (click)="onClick()">
      <p class="date"><span class="bold">Created At: </span>{{board.createdAt | date: 'short'}}</p>
      <p><span class="bold">Description: </span>{{board.description}}</p>
      <hr>
      <p> <span class="bold">Todo: </span>{{todo}},
        <span class="bold">In progress: </span>{{inProgress}},
        <span class="bold">Done: </span>{{done}}</p>
    </div>
    <div class="buttons" *ngIf="isMenuOpen" (close)="isMenuOpen = false" appClickOutside (clickedOutside)="isMenuOpen = false">
      <button (click)="isModalOpen = true; isMenuOpen = false;">
        <fa-icon [icon]="faPenToSquare"></fa-icon>
        Edit board
      </button>
      <button (click)="deleteBoard()">
        <fa-icon [icon]="faTrashAlt"></fa-icon>
        Delete board
      </button>
    </div>
  </div>
</div>

<app-modal *ngIf="isModalOpen" (close)="isModalOpen = !$event">
  <h2>Edit board</h2>
  <hr>
  <div class="validation-errors" *ngIf="name.invalid && (name.dirty || name.touched)">
    <div class="error" *ngIf="name?.errors?.['required']">Name is required</div>
    <div class="error" *ngIf="name?.errors?.['minlength']">Min length of name is 3</div>
    <div class="error" *ngIf="name?.errors?.['maxlength']">Max length of name is 15</div>
  </div>
  <div class="validation-errors" *ngIf="description.invalid && (description.dirty || description.touched)">
    <div class="error" *ngIf="description?.errors?.['required']">Description is required</div>
    <div class="error" *ngIf="description?.errors?.['minlength']">Min length of description is 5</div>
    <div class="error" *ngIf="description?.errors?.['maxlength']">Max length of description is 40</div>
  </div>
  <form #form="ngForm" (ngSubmit)="onSubmit(form);">
    <div class="input-group">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        ngModel
        required
        [ngModel]="board.name"
        #name="ngModel"
        [minlength]="3"
        [maxlength]="15"
      >
    </div>
    <div class="input-group">
      <label for="description">Description:</label>
      <input
        type="text"
        id="description"
        name="description"
        ngModel
        required
        [ngModel]="board.description"
        #description="ngModel"
        [minlength]="5"
        [maxlength]="40"
      >
    </div>
    <div class="button-wrap">
      <button type="submit" [disabled]="!form.valid">
        Edit
      </button>
    </div>
  </form>
</app-modal>
