@import "src/variables";

.task-container {
  cursor: pointer;
  color: #ffffff;

  .task {
    position: relative;
    background-color: #ffffff;
    color: #000000;
    margin: 0.5em;
    padding: 0.5em;
    box-shadow: 0 0 10px 0 #494949;
    border-radius: 0.25em;

    p {
      margin: 0;
      word-wrap: break-word;
    }

    &:hover {
      background-color: #f3f3f3;
    }

    .button-wrap {
      position: absolute;
      right: 0.35em;
      top: 0.25em;
      background-color: #f3f3f3;

      button {
        background-color: transparent;
        padding: 0.5em;
        border: 0 transparent;
        cursor: pointer;
        color: #8f8f8f;
        border-radius: 0.25em;
        z-index: 10;

        &:hover {
          background-color: #dcdcdc;
        }
      }
    }
  }
}

app-modal {

  input#image {
    font-size: 1em;
  }

  .heading {
    display: flex;
    align-items: center;

    img {
      width: 4em;
      border-radius: 50%;
      margin: 0 0.75em 0 0;
    }
  }

  .container {
    padding: 0 1em;

    .info-group {
      margin: 0.5em 0;

      p {
        margin: 0;

        &.info-name {
          color: #6b6b6b;
        }
      }
    }
  }
}

.draggable {
  user-select: none;
}
