<div class="task-container draggable"
     draggable="true"
     (click)="isTaskModalOpen = true"
     (mouseenter)="onHover = true"
     (mouseleave)="onHover = false"
     (dragstart)="taskDragged.emit(task);">
  <div class="task">
    <p>{{task.name}}</p>
    <div class="button-wrap">
      <button *ngIf="onHover">
        <fa-icon [icon]="faPen" (click)="isEditModalOpen = true; $event.stopPropagation();"></fa-icon>
      </button>
      <button *ngIf="onHover">
        <fa-icon [icon]="faBoxArchive" (click)="archiveTask(); $event.stopPropagation();"></fa-icon>
      </button>
    </div>
  </div>
</div>

<app-modal *ngIf="isTaskModalOpen" (close)="isTaskModalOpen = !$event">
  <div class="heading">
    <img src="https://task-controll-app.herokuapp.com/images/{{task.image}}" *ngIf="task.image" alt="task image">
    <h2>{{task.name}} - {{task.status}}</h2>
  </div>
  <hr>
  <div class="container">
    <div class="info-group">
      <p class="info-name">Description:</p>
      <p>{{task.description}}</p>
    </div>
    <div class="info-group">
      <p class="info-name">Status:</p>
      <p>{{task.status}}</p>
    </div>
    <div class="info-group">
      <p class="info-name">Created at:</p>
      <p>{{task.createdAt | date : 'short'}}</p>
    </div>
    <app-comments [taskId]="task._id" [boardId]="boardId"></app-comments>
  </div>
</app-modal>

<app-modal *ngIf="isEditModalOpen" (close)="isEditModalOpen = !$event">
  <h2>Edit {{task.name}}</h2>
  <hr>
  <div class="validation-errors" *ngIf="name.invalid && (name.dirty || name.touched)">
    <div class="error" *ngIf="name?.errors?.['required']">Name is required</div>
    <div class="error" *ngIf="name?.errors?.['minlength']">Min length of name is 3</div>
    <div class="error" *ngIf="name?.errors?.['maxlength']">Max length of name is 25</div>
  </div>
  <div class="validation-errors" *ngIf="description.invalid && (description.dirty || description.touched)">
    <div class="error" *ngIf="description?.errors?.['required']">Description is required</div>
    <div class="error" *ngIf="description?.errors?.['minlength']">Min length of description is 5</div>
    <div class="error" *ngIf="description?.errors?.['maxlength']">Max length of description is 40</div>
  </div>
  <form #form="ngForm" (ngSubmit)="onSubmit(form);">
    <div class="input-group">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        [ngModel]="task.name"
        #name="ngModel"
        [minlength]="3"
        [maxlength]="25"
      >
    </div>
    <div class="input-group">
      <label for="description">Description:</label>
      <input
        type="text"
        id="description"
        name="description"
        [ngModel]="task.description"
        #description="ngModel"
        [minlength]="5"
        [maxlength]="40"
      >
    </div>
    <div class="input-group">
      <label for="description">Image:</label>
      <input
        type="file"
        id="image"
        name="image"
        accept="image/*"
        (change)="setFile($event)"
      >
    </div>
    <div class="button-wrap">
      <button type="submit" [disabled]="!form.valid">
        Submit
      </button>
      <button type="button" (click)="deleteTask()">Delete</button>
    </div>
  </form>
</app-modal>
