<div class="sort">
  <div class="item">
    <p>Sort by:</p>
    <select [(ngModel)]="sorting" (ngModelChange)="sortingPicked.emit(sorting)" class="methods">
      <option value="created date">created date</option>
      <option value="name">name</option>
      <ng-content></ng-content>
    </select>
  </div>
  <div class="item">
    <p>Order:</p>
    <select [(ngModel)]="order" (ngModelChange)="orderPicked.emit(order)">
      <option value="ASC">ASC</option>
      <option value="DESC">DESC</option>
    </select>
  </div>
</div>
