<div class="container">
  <div class="heading">
    <h2>{{board!.name}} {{showArchived ? " - Archive" : ""}}</h2>
    <div class="filters">
      <app-filter
        (keywordsPushed)="keywords = $event"
      ></app-filter>
      <app-sort
        (sortingPicked)="sorting = $event"
        (orderPicked)="order = $event"
        ></app-sort>
      <button (click)="showArchived = !showArchived"><fa-icon [icon]="faBoxArchive"></fa-icon></button>
    </div>
  </div>
  <hr>
  <div class="tasks-container">
    <app-tasks
      #todoContainer
      [tasks]="tasks.todo | sort: sorting : order | filter: keywords"
      [statusName]="'TODO'"
      [boardId]="board!._id"
      [isArchived]="showArchived"
      [defaultColor]="board!.todoColor"
      (transferDraggedTask)="draggedTask = $event"
      (drop)="dropTask(todoContainer.statusName)">
    </app-tasks>
    <app-tasks
      #inProgressContainer
      [tasks]="tasks.inProgress | sort: sorting : order | filter: keywords"
      [statusName]="'IN PROGRESS'"
      [boardId]="board!._id"
      [isArchived]="showArchived"
      [defaultColor]="board!.inProgressColor"
      (transferDraggedTask)="draggedTask = $event"
      (drop)="dropTask(inProgressContainer.statusName)">
    </app-tasks>
    <app-tasks
      #doneContainer
      [tasks]="tasks.done | sort: sorting : order | filter: keywords"
      [statusName]="'DONE'"
      [boardId]="board!._id"
      [isArchived]="showArchived"
      [defaultColor]="board!.doneColor"
      (transferDraggedTask)="draggedTask = $event"
      (drop)="dropTask(doneContainer.statusName)">
    </app-tasks>
  </div>
</div>
