<header>
  <div class="main-info">
    <a routerLink="/boards">
      <h1>Task Controller</h1>
    </a>
  </div>
  <div class="user">
    <a class="auth" routerLink="/authentication" *ngIf="!isAuthenticated">
      Log in / Sign up
    </a>
    <button
      class="auth"
      *ngIf="user"
      (click)="isDropdownOpen = !isDropdownOpen; $event.stopPropagation();"
      >Hi, {{user.username}}!
      <img src="../../../assets/unauth.webp" *ngIf="!user.image" alt="user" class="account-logo">
      <img src="https://task-controll-app.herokuapp.com/images/{{user.image}}" *ngIf="user.image"
           alt="user" class="account-logo" (error)='handleErrorImage($event)'
      >
    </button>
  </div>
</header>

<div class="dropdown" *ngIf="isDropdownOpen && user" appClickOutside (clickedOutside)="isDropdownOpen = false">
  <div class="info">
    <div class="img-wrap">
      <img src="../../../assets/unauth.webp" *ngIf="!user.image" alt="user">
      <img src="https://task-controll-app.herokuapp.com/images/{{user.image}}" *ngIf="user.image"
           alt="user" (error)='handleErrorImage($event)'>
    </div>
    <div class="text-wrap">
      <p class="username">{{user.username}}</p>
      <p class="email">{{user.email}}</p>
    </div>
  </div>
  <hr>
  <button
    class="auth"
    (click)="isSettingsOpen = true"
  >
    Account settings
  </button>
  <hr>
  <button
    class="auth"
    (click)="onLogout()"
  >
    Log out
  </button>
</div>


<app-modal *ngIf="isSettingsOpen" (close)="isSettingsOpen = false">
  <h2>Account settings</h2>
  <hr>
  <div class="validation-errors" *ngIf="username.invalid && (username.dirty || username.touched)">
    <div class="error" *ngIf="username?.errors?.['required']">Name is required</div>
    <div class="error" *ngIf="username?.errors?.['minlength']">Min length of name is 3</div>
    <div class="error" *ngIf="username?.errors?.['maxlength']">Max length of name is 12</div>
  </div>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="input-group">
      <label for="username">Name:</label>
      <input
        type="text"
        id="username"
        name="username"
        ngModel
        required
        [(ngModel)]="user!.username"
        #username="ngModel"
        [minlength]="3"
        [maxlength]="12"
      >
    </div>
    <div class="input-group">
      <label for="email">Email:</label>
      <input
        type="text"
        id="email"
        name="email"
        ngModel
        required
        [(ngModel)]="user!.email"
        #email="ngModel"
      >
    </div>
    <div class="input-group">
      <label for="image">Image:</label>
      <input
        type="file"
        id="image"
        name="image"
        accept="image/*"
        (change)="setFile($event)"
      >
    </div>
    <hr>
    <div class="input-group">
      <label for="password">Confirm your password:</label>
      <input
        type="password"
        id="password"
        name="password"
        ngModel
        required
      >
    </div>
    <div class="button-wrap">
      <button type="submit">
        Edit
      </button>
    </div>
  </form>
</app-modal>
