@import "../../../variables";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2C6CA8;
  padding: 0.5em 5em;
  box-shadow: 0 0 10px 0 #1c4369;

  h1 {
    margin: 0;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: $font;
    font-size: 1em;
  }

  a, button {
    color: #ffffff;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    text-decoration: none;

    &.auth {
      padding: 0.5em;
      border-radius: 0.25em;

      &:hover {
        background-color: rgba(255, 255, 255, 0.25);
      }

      img.account-logo {
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        margin: 0.25em;
      }
    }
  }
}

.dropdown {
  position: absolute;
  right: 5em;
  min-width: 10em;
  z-index: 5;

  background-color: #ffffff;
  border-radius: 0.25em;
  box-shadow: 0 0 10px 0 #808080;

  .info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.25em;

    .img-wrap {
      display: flex;
      align-items: center;
      img {
        width: 2em;
        height: 2em;
        border-radius: 50%;
      }
    }

    .text-wrap {
      padding: 0.25em;
    }
  }

  p {
    margin: 0;

    &.email {
      font-size: 0.75em;
      color: #808080;
    }
  }

  hr {
    margin: 0 0.5em;
  }

  button {
    width: 100%;
    text-align: start;
    font-size: 1em;
    background-color: transparent;
    height: 100%;
    border: 0;
    padding: 0.5em;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}


