<div class="container">
  <div class="head">
    <div class="author">
      <div class="img-wrap">
        <img
          src="https://task-controll-app.herokuapp.com/images/{{comment.createdBy.image}}"
          alt="{{comment.createdBy.username}}"
          (error)='handleErrorImage($event)'
        >
      </div>
      <p>@{{comment.createdBy.username}}:</p>
    </div>
    <p>{{comment.createdAt | date: 'short'}}</p>
  </div>
  <div class="comment">
    <p>{{comment.comment}}</p>
  </div>
</div>
