.container {
  margin: 0.75em 0;
  overflow-y: auto;

  p {
    margin: 0;
  }

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .author {
      display: flex;
      align-items: center;

      .img-wrap {
        margin: 0 0.75em 0 0;
        img {
          width: 2em;
          border-radius: 50%;
        }
      }

      p {
        font-weight: bold;
      }
    }
  }
}
