@import "src/variables";

.tasks {
  width: 26em;
  margin: 1em 1em 1em 0;
  padding: 0 1em 0.5em 1em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: $secondaryColor;
  box-shadow: 0 0 10px 0 #494949;
  border-radius: 0.25em;

  h2 {
    color: #ffffff;
    text-align: center;
  }

  .container {
    position: relative;
    min-height: 0.5em;
  }

  .button-container {
    bottom: 0;
    display: flex;
    justify-content: space-around;

    button {
      font-family: $font;
      padding: 0.5em;
      background-color: transparent;
      color: #ffffff;
      border-radius: 0.25em;
      border: 0 transparent;
      width: 80%;
      text-align: start;

      &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    label {
      color: #ffffff;
      padding: 0.25em 0.5em;
      border-radius: 0.25em;
      font-size: 1.25em;
      position: relative;

      &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    input[type="color"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }
  }
}


