<div class="tasks" (dragover)="$event.preventDefault();"
     [style.background-color]="color">
  <h2>{{statusName | uppercase}}</h2>
  <div class="container">
    <app-task
      *ngFor="let task of tasks | archived: isArchived"
      [task]="task"
      [boardId]="boardId"
      (taskDragged)="transferDraggedTask.emit($event)"
    ></app-task>
  </div>
  <div class="button-container">
    <button
      (click)="isModalOpen = true">
      + Add new task
    </button>
    <label for="color-{{statusName}}">
      <fa-icon [icon]="faPalette"></fa-icon>
      <input type="color" id="color-{{statusName}}" [(ngModel)]="color" (ngModelChange)="changeColor()"></label>
  </div>
</div>


<app-modal *ngIf="isModalOpen" (close)="isModalOpen = !$event">
  <h2>Create {{statusName | lowercase}} task</h2>
  <hr>
  <div class="validation-errors" *ngIf="name.invalid && (name.dirty || name.touched)">
    <div class="error" *ngIf="name?.errors?.['required']">Name is required</div>
    <div class="error" *ngIf="name?.errors?.['minlength']">Min length of name is 3</div>
    <div class="error" *ngIf="name?.errors?.['maxlength']">Max length of name is 25</div>
  </div>
  <div class="validation-errors" *ngIf="description.invalid && (description.dirty || description.touched)">
    <div class="error" *ngIf="description?.errors?.['required']">Description is required</div>
    <div class="error" *ngIf="description?.errors?.['minlength']">Min length of description is 5</div>
    <div class="error" *ngIf="description?.errors?.['maxlength']">Max length of description is 40</div>
  </div>
  <form #form="ngForm" (ngSubmit)="onSubmit(form); isModalOpen = !isModalOpen">
    <div class="input-group">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        ngModel
        required
        #name="ngModel"
        [minlength]="3"
        [maxlength]="25"
      >
    </div>
    <div class="input-group">
      <label for="description">Description:</label>
      <input
        type="text"
        id="description"
        name="description"
        ngModel
        required
        #description="ngModel"
        [minlength]="5"
        [maxlength]="40"
      >
    </div>
    <div class="button-wrap">
      <button type="submit" [disabled]="!form.valid">
        Create
      </button>
    </div>
  </form>
</app-modal>
