@import "variables";

body {
  margin: 0;
  padding: 0;
  font-family: $font;
}

app-modal {
  z-index: 10;

  .validation-errors {
    padding: 0 1em;

    .error {
      color: red;
    }
  }

  form {
    padding: 1em;
    .input-group {
      display: flex;
      flex-direction: column;
      margin: 0 0 0.75em;

      &, input {
        font-size: 1.25em;
      }
    }

    .button-wrap {
      text-align: center;

      button {
        background-color: $secondaryColor;
        font-size: 1.5em;
        padding: 0.25em 2em;
        margin: 0.5em;
        border: 0;
        color: #ffffff;
        cursor: pointer;
        box-shadow: 0 5px 10px 0 #1c4369;

        &:disabled {
          color: #b4b4b4;
          cursor: default;
        }
      }
    }
  }
}

button {
  font-family: $font;
}
