@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Nunito");

$mainColor: #2C6CA8;

$secondaryColor: #296194;

$mainFont: "Nunito";

$secondaryFont: "Open Sans";

$font: "Segoe UI", sans-serif;
