<div class="container">
  <div class="heading">
    <h2>My Boards</h2>
    <div class="filters">
      <app-filter
        (keywordsPushed)="keywords = $event">
      </app-filter>
      <app-sort
        (sortingPicked)="sorting = $event"
        (orderPicked)="order = $event">
        <option value="todo">amount of todo tasks</option>
        <option value="in progress">amount of in progress tasks</option>
        <option value="done">amount of done tasks</option>
      </app-sort>
    </div>
  </div>
  <hr>
  <div class="boards-list">
    <div class="create" (click)="isModalOpen = true">
      <p>Add new board</p>
    </div>
    <app-board-list-item
      *ngFor="let board of boards | sort: sorting : order | filter: keywords "
      [board]="board"
    >
    </app-board-list-item>
  </div>
</div>

<app-modal *ngIf="isModalOpen" (close)="isModalOpen = !$event">
  <h2>Create board</h2>
  <hr>
  <div class="validation-errors" *ngIf="name.invalid && (name.dirty || name.touched)">
    <div class="error" *ngIf="name?.errors?.['required']">Name is required</div>
    <div class="error" *ngIf="name?.errors?.['minlength']">Min length of name is 3</div>
    <div class="error" *ngIf="name?.errors?.['maxlength']">Max length of name is 15</div>
  </div>
  <div class="validation-errors" *ngIf="description.invalid && (description.dirty || description.touched)">
    <div class="error" *ngIf="description?.errors?.['required']">Description is required</div>
    <div class="error" *ngIf="description?.errors?.['minlength']">Min length of description is 5</div>
    <div class="error" *ngIf="description?.errors?.['maxlength']">Max length of description is 40</div>
  </div>
  <form #form="ngForm" (ngSubmit)="onSubmit(form); isModalOpen = !isModalOpen">
    <div class="input-group">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        ngModel
        #name="ngModel"
        required
        [minlength]="3"
        [maxlength]="15"
      >
    </div>
    <div class="input-group">
      <label for="description">Description:</label>
      <input
        type="text"
        id="description"
        name="description"
        ngModel
        #description="ngModel"
        required
        [minlength]="5"
        [maxlength]="40"
      >
    </div>
    <div class="button-wrap">
      <button type="submit" [disabled]="!form.valid">
        Create
      </button>
    </div>
  </form>
</app-modal>
