@import "src/variables";
@import "src/app/boards/page-container";

.container {

  .boards-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .create {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      cursor: pointer;
      background-color: $secondaryColor;
      box-shadow: 0 0 10px 0 #1c4369;
      width: 20em;
      height: 12.5em;
      margin: 1.5em 1.5em;
    }
  }
}

