@import "src/variables";

.container {
  padding: 1em 5em;

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;

    h2 {
      width: 30em;
    }

    .filters {
      display: flex;
      justify-content: space-between;
      min-width: 36em;

      button {
        padding: 1em;
        background-color: $mainColor;
        cursor: pointer;
        color: #ffffff;
        border: none;
        border-radius: 0.5em;

        &:hover {
          background-color: $secondaryColor;
        }
      }

      app-filter {
        width: 40%;
      }

      app-sort {
        width: 50%;
      }
    }
  }

  hr {
    border: 0.1em solid $secondaryColor;
  }
}
